# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jvm_study_std\java_jvm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
